asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
coreapi==2.3.3
coreschema==0.0.4
Django==3.1.5
django-filter==2.4.0
django-model-utils==4.1.1
django-notifications-hq==1.6.0
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
idna==2.10
itypes==1.2.0
Jinja2==2.11.2
jsonfield==3.1.0
MarkupSafe==1.1.1
PyJWT==1.7.1
PyMySQL==1.0.2
pytz==2020.5
requests==2.25.1
sqlparse==0.4.1
swapper==1.1.2.post1
uritemplate==3.0.1
urllib3==1.26.2
